.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background: var(--secondary);
    padding: 1.2rem 1rem;
    background-color: var(--light);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
}

.project-title {
    color: var(--secondary);
    padding: 1rem 0;
}

.pro-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

@media screen and (max-width: 740px) {
    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-card {
        width: 100%;
        margin-bottom: 2rem;
    }
}