.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* adjust as needed */
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.skills .icons {
    font-size: 60px;
    margin-right: 1rem;
}

.skills p {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.html,
.css,
.js,
.react,
.node,
.testing {
    text-align: center;
    margin: 1rem;
}

@media screen and (max-width: 1040px) {
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* adjust as needed */
    }
}