.contactContainer {
    background-color: var(--light);
}

.contactTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3rem;
}

.contactLeft,
.contactRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}

.contactBottom .icons {
    margin-top: 4rem;
    color: var(--dark);
    font-size: 50px;
    margin-right: 2rem;
}

.contactBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1040px) {
    .contactTop {
        display: block;
    }

    .contactLeft,
    .contactRight {
        padding-bottom: 3rem;
    }

}